
<!-- BEGIN Portlet PORTLET-->
{{#jf-portlet}}
  {{#jf-portlet-header}}


        {{#jf-portlet-headline}}
            {{jf-portlet-icon}}
            {{#jf-portlet-title}}{{model}}{{/jf-portlet-title}}
            {{#jf-portlet-subtitle}}{{manufacturer}}{{/jf-portlet-subtitle}}
        {{/jf-portlet-headline}}
        {{#jf-portlet-actions}}
          <!-- TODO seperate out action presentation types into attributes defined on the views -->
          {{#jf-portlet-action classNames='btn btn-circle btn-default btn-sm'}}{{fa-plus}} Checkout{{/jf-portlet-action}}
          {{#jf-portlet-action classNames='btn btn-circle btn-default btn-icon-only '}}{{fa-chain}}{{/jf-portlet-action}}
        {{/jf-portlet-actions}}

  {{/jf-portlet-header}}
  {{#jf-portlet-content}}
    {{yield}}
    <p>{{description}}</p>
        {{#jf-list-group}}
          {{#jf-list-group-item}}<strong>Serial</strong>  <span class='pull-right'>{{serial}}</span>{{/jf-list-group-item}}
          {{#jf-list-group-item}}<strong>Status</strong>  {{#jf-badge style='warning'}}{{status}}{{/jf-badge}}{{/jf-list-group-item}}
          {{#jf-list-group-item}}<strong>Quantity</strong>  {{#jf-badge style='success'}}{{quantity_on_hand}}{{/jf-badge}}{{/jf-list-group-item}}
          {{#jf-list-group-item}}<strong>Tag</strong>  <span class='pull-right'>{{tag}}</span>{{/jf-list-group-item}}
          {{#jf-list-group-item}}<strong>Serial</strong>  <span class='pull-right'>{{serial}}</span>{{/jf-list-group-item}}

            <li class="list-group-item">
                Dapibus ac facilisis in <span class="badge badge-success">
											11 </span>
            </li>
            <li class="list-group-item">
                Morbi leo risus <span class="badge badge-danger">
											new </span>
            </li>
            <li class="list-group-item">
                Porta ac consectetur ac <span class="badge badge-warning">
											4 </span>
            </li>
            <li class="list-group-item">
                Vestibulum at eros <span class="badge badge-info">
											3 </span>
            </li>
            <li class="list-group-item">
                Vestibulum at eros
            </li>
        {{/jf-list-group}}
  {{/jf-portlet-content}}

{{/jf-portlet}}
<!-- END Portlet PORTLET-->