{{! app/templates/components/main-navigation.hbs }}

<!-- BEGIN SIDEBAR -->
    <div class="page-sidebar navbar-collapse collapse">

        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">

            {{navigation-item
              link-to='app.dashboard'
              icon='icon-home'
              title='Dashboard'
              id='dashboard-navigation-item'
              session=session
              roles-required='user'}}

            {{navigation-item
              link-to='assets.list'
              icon='icon-screen-desktop'
              title='Assets'
              id='assets-navigation-item'
              session=session
              roles-required='user'}}

            {{navigation-item
              link-to='manufacturers.list'
              icon='icon-wrench'
              title='Manufacturers'
              id='manufacturers-navigation-item'
              session=session
              roles-required='administrator technition'}}

            {{navigation-item
              link-to='suppliers'
              icon='icon-plane'
              title='Suppliers'
              id='suppliers-navigation-item'
              session=session
              roles-required='administrator technition'}}

            {{navigation-item
              link-to='users.list'
              icon='icon-users'
              title='Users'
              id='users-navigation-item'
              session=session
              roles-required='administrator technition'}}

            {{navigation-item
              link-to='orders'
              icon='icon-fire'
              title='Orders'
              id='orders-navigation-item'
              session=session
              roles-required='administrator technition'}}

            {{navigation-item
              link-to='reports'
              icon='icon-notebook'
              title='Reports'
              id='reports-navigation-item'
              session=session
              roles-required='administrator technition'}}

            {{navigation-item
              link-to='app.settings'
              icon='icon-settings'
              title='Settings'
              id='settings-navigation-item'
              session=session
              roles-required='administrator'}}


        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
<!-- END SIDEBAR -->