{{yield}}

<!-- START LIST ITEM -->

    <!-- START PORTLET -->
    <div class="portlet">

        <!-- START PORTLET HEADER BAR -->
        <div {{action 'toggleSelected'}} class="portlet-title">
            <!-- START NAME -->
          <span class="name"> {{firstname}} {{lastname}}</span>
            <!-- END NAME -->

            <!-- START TOOLS -->
            <div class="tools">
                <a href="javascript:;" class="expand" data-original-title="" title="">
                </a>
                <a href="javascript:;" class="reload" data-original-title="" title="">
                </a>
                <a href="javascript:;" class="tool-test" data-original-title="" title="">
                    <i class="fa fa-pencil"></i>
                </a>
            </div>
            <!-- END TOOLS -->

            <div class="actions">
                <div class="btn-group btn-group-devided" data-toggle="buttons">
                    <label class="btn btn-circle btn-transparent green btn-sm active">
                        <input type="radio" name="options" class="toggle" id="option1">Active</label>
                </div>
            </div>
        </div>
        <!-- END PORTLET HEADER BAR -->

        <!-- START PORTLET BODY -->
        <div class="portlet-body display-hide">
            <strong>User Information</strong>
            {{#each role in roles}}
              {{role.name}}
            {{/each}}
        </div>
        <!-- END PORTLET BODY -->

    </div>
    <!-- END PORTLET -->

<!-- END LIST ITEM -->