{{#jf-site-header}}

  {{#jf-site-header-logo}}
    {{#link-to 'dashboard'}}
      {{jf-img src='img/ccmh/header_logo.png' class='logo-default'}}
    {{/link-to}}
  {{/jf-site-header-logo}}

  {{jf-site-header-toggler}}

  {{#jf-site-header-actions}}

    {{#jf-site-header-action}}
      {{#link-to 'user.detail' session.currentUser.id}}
        {{sl-icon icon='user'}} My Profile
      {{/link-to}}
    {{/jf-site-header-action}}

    {{#jf-site-header-action}}
      {{#link-to 'dashboard'}}
        {{sl-icon icon='envelope-open'}} My Inbox {{#jf-badge style='danger'}} 1 {{/jf-badge}}
      {{/link-to}}
    {{/jf-site-header-action}}

    <li class="divider"></li>

    {{#jf-site-header-action}}
        <a {{ action 'invalidateSession' }}>
          {{sl-icon icon='key'}} Log Out </a>
    {{/jf-site-header-action}}

  {{/jf-site-header-actions}}
{{/jf-site-header}}

{{#jf-site-container}}

  {{#jf-site-nav}}
    {{navigation-item
    link-to='dashboard'
    icon='icon-home'
    title='Dashboard'
    id='dashboard-navigation-item'
    session=session
    roles-required='user'}}

    {{navigation-item
    link-to='assets.list'
    icon='icon-screen-desktop'
    title='Assets'
    id='assets-navigation-item'
    session=session
    roles-required='user'}}

    {{navigation-item
    link-to='manufacturers.list'
    icon='icon-wrench'
    title='Manufacturers'
    id='manufacturers-navigation-item'
    session=session
    roles-required='administrator technition'}}

    {{navigation-item
    link-to='suppliers'
    icon='icon-plane'
    title='Suppliers'
    id='suppliers-navigation-item'
    session=session
    roles-required='administrator technition'}}

    {{navigation-item
    link-to='users'
    icon='icon-users'
    title='Users'
    id='users-navigation-item'
    session=session
    roles-required='administrator technition'}}

    {{navigation-item
    link-to='orders'
    icon='icon-fire'
    title='Orders'
    id='orders-navigation-item'
    session=session
    roles-required='administrator technition'}}

    {{navigation-item
    link-to='reports'
    icon='icon-notebook'
    title='Reports'
    id='reports-navigation-item'
    session=session
    roles-required='administrator technition'}}

    {{navigation-item
    link-to='app.settings'
    icon='icon-settings'
    title='Settings'
    id='settings-navigation-item'
    session=session
    roles-required='administrator'}}

  {{/jf-site-nav}}

  {{#jf-site-content}}
    {{outlet 'content'}}
  {{/jf-site-content}}

{{/jf-site-container}}

<!-- END CONTENT -->
{{main-footer organization-title=globals.organization.name.long}}
