{{yield}}

    <button class="btn btn-circle green btn-xs dropdown-toggle status-button" type="button" data-toggle="dropdown" aria-expanded="false"><span class="md-click-circle md-click-animate"></span>
      {{status}}
    </button>
    <ul class="dropdown-menu" role="menu">
        <li{{action 'changeStatus' 'pending'}}><a>Pending</a></li>
        <li{{action 'changeStatus' 'active' }}><a>Active</a></li>
        <li{{action 'changeStatus' 'inactive'}}><a>Inactive</a></li>
    </ul>