{{outlet}}

{{#jf-page-title}}Users{{/jf-page-title}}

{{#jf-page-bar}}

  {{#jf-page-breadcrumbs}}
    {{#jf-page-breadcrumb}}{{#link-to 'manufacturers.list'}}Users{{/link-to}}{{/jf-page-breadcrumb}}
  {{/jf-page-breadcrumbs}}

  {{#jf-page-actions}}
    {{#jf-page-action}}{{#link-to 'manufacturers.new'}}Add New{{/link-to}}{{/jf-page-action}}
  {{/jf-page-actions}}

{{/jf-page-bar}}



<!-- START LIST TOOLS -->
<div class="row">
    <!-- START SEARCH -->
  {{search-box
  label-text='Search'
  inputID='filter'
  input-type='search'
  input-placeholder='search...'
  inputValue=filter
  input-classes='col-md-4'}}
    <!-- END SEARCH -->
    <select class="form-control input-small">
        <option>Filter by..</option>
        <option>Name</option>
        <option>Email</option>
        <option>Employee ID</option>
        <option>Status</option>
    </select>
    <div class="col-md-8">
        <nav class="pull-right">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {{#each page in pages}}
                    <li {{action 'selectPage' selectedPage=page}}><a href="#">{{page}}</a></li>
                {{/each}}
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- END LIST TOOLS -->
<!-- START USER LIST CONTAINER -->
<div class="row">
    <div class="col-md-12">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      {{#each user in sliced}}
        {{#jf-list-item}}
          {{#jf-list-item-title}}
            {{fa-icon icon='user'}} {{user.firstname}} {{user.lastname}}
          {{/jf-list-item-title}}
        {{#jf-list-item-actions}}

                          <div class="btn-group">
                              <a class="btn btn-circle btn-default " href="#" data-toggle="dropdown">
                                  <i class="fa fa-user"></i> User <i class="fa fa-angle-down"></i>
                              </a>
                              <ul class="dropdown-menu pull-right">
                                  <li>
                                      <a href="#">
                                          <i class="fa fa-pencil"></i> Edit </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          <i class="fa fa-trash-o"></i> Delete </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          <i class="fa fa-ban"></i> Ban </a>
                                  </li>
                                  <li class="divider">
                                  </li>
                                  <li>
                                      <a href="#">
                                          <i class="i"></i> Make admin </a>
                                  </li>
                              </ul>
                          </div>

                          <a class="btn btn-circle btn-icon-only btn-default icon-link" href="#">

                          </a>
        {{/jf-list-item-actions}}
        {{/jf-list-item}}


              <!-- END ALERTS PORTLET-->

        {{/each}}

    </div>
        <div class="col-md-12">
            <nav class="pull-right">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                  {{#each page in pages}}
                      <li {{action 'selectPage' selectedPage=page}}><a href="#">{{page}}</a></li>
                  {{/each}}
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- END USER LIST CONTAINER -->
