
{{#jf-page id='asset'}}
  {{#jf-page-title}}{{asset.name}} Info{{/jf-page-title}}
  {{#jf-page-bar}}
    {{#jf-page-actions}}
      {{#jf-page-action-button}}
          Actions {{fa-icon icon='angle-down'}}
      {{/jf-page-action-button}}
      {{#jf-page-action-list}}
        {{#jf-page-action}}
          {{#link-to 'unit.new' asset.id}}Add New {{/link-to}}
        {{/jf-page-action}}
        {{#jf-page-action}}
          {{#if editing}}
              <a {{action 'didTouchUpOnEndEditing'}}>Stop Editing</a>
          {{else}}
              <a {{action 'didTouchUpOnStartEditing'}}>Edit Asset</a>
          {{/if}}
        {{/jf-page-action}}
        {{#jf-page-action}}
            <a {{action 'didTouchUpOnCheckout'}}>Checkout</a>
        {{/jf-page-action}}
        {{#jf-page-action}}
            <a {{action 'didTouchUpOnCheckin'}}>Checkin</a>
        {{/jf-page-action}}
      {{/jf-page-action-list}}
    {{/jf-page-actions}}
  {{/jf-page-bar}}
  <!-- END PAGE HEADER-->
  <!-- BEGIN PAGE CONTENT-->
  {{#jf-page-content-container}}

    {{#jf-row}}
        <!-- PORTLET MAIN -->
        <div class="col-md-8">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title">Details</h3>
                </div>
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">Model Name <span class="pull-right">{{asset.name}}</span></li>
                    <li class="list-group-item">Maximum Quantity <span class="pull-right"><a id="max_quantity" data-type="text" data-pk="1"  data-title="Enter max quantity">{{asset.max_quantity}}</a></span></li>
                    <li class="list-group-item">Minimum Quantity <span class="pull-right"><a id="min_quantity" data-type="text" data-pk="1"  data-title="Enter min quantity">{{asset.min_quantity}}</a></span></li>
                    <li class="list-group-item">Description <span class="pull-right"><a id="description" data-type="text" data-pk="1"  data-title="Enter desription">{{asset.description}}</a></span></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title">Images</h3>
                </div>
                <!-- List group -->
                <ul class="list-group">

                  {{#if user.departments}}
                    {{#each department in selectedDepartmentsObserver}}
                        <li class="list-group-item">
                          {{#if editing}}
                              <a{{action 'didTouchUpOnRemoveDepartment' department}} class="btn btn-icon-only btn-circle red" style="height: 20px; width: 20px;padding-top: 3px;padding-left: 0px;"><span class="md-click-circle md-click-animate" ></span>
                                  <i class="fa fa-remove" style="height: 16px"></i>
                              </a>
                          {{/if}}
                            <button type="button" class="btn default btn-xs">
                                <span class="md-click-circle md-click-animate"></span>
                              {{#each dept in department}}
                                {{dept.name}}{{#unless dept.last}}{{fa-icon icon='arrow-right'}}{{/unless}}
                              {{/each}}
                            </button>
                        </li>
                    {{/each}}

                  {{else}}
                      <li class="list-group-item">You do not belong to any departments.</li>
                  {{/if}}
                  {{#if editing}}
                      <li class="list-group-item" style="height: 50px;">
                          <div class="col-md-11"style="padding-right: 5px">

                            {{#ember-chosen multiple=true id='department_select' value=multipleSelectValue }}
                              {{#each department in options}}
                                  <option {{bind-attr value=department.id}}>{{department.name}}</option>
                              {{/each}}
                            {{/ember-chosen}}
                          </div>
                          <div class="col-md-1" style="padding-left: 0px">
                              <a{{action 'didTouchUpOnAddDepartment'}}
                                      class="btn btn-icon-only green " style="height: 29px; width: 29px;">
                                  <i class="fa fa-plus"></i>
                              </a>

                          </div>

                      </li>
                  {{/if}}

                </ul>
            </div>
        </div>

            <!-- START SEARCH -->


            <!-- END LIST TOOLS -->
            <!-- START USER LIST CONTAINER -->

            {{#jf-col-md-12}}
              {{#jf-table id='assets_table'}}
                  <div class="portlet-title">
                      <div class="caption">
                          <span class="caption-subject "> Units</span>
                          <span class="caption-helper"></span>
                      </div>
                  </div>
                  {{#jf-table-tools}}

                    <div class="col-md-4">
                      {{#jf-form-group color="success"}}
                        {{#jf-input-icon}}
                          {{input type='search' id='filter' value=filter class='form-control search'}}
                            <label for="filter">Filter</label>
                            <i class="fa fa-search"></i>
                        {{/jf-input-icon}}
                      {{/jf-form-group}}
                    </div>
                    <div class="col-md-3">
                        <div class="form-group form-md-line-input">
                          {{view 'select'
                          class="form-control"
                          content=filterables
                          optionValuePath='content.value'
                          optionLabelPath='content.name'
                          value = current_filter}}
                        </div>
                    </div>
                    <div class="col-md-1 pull-right">
                        <div class="form-group form-md-line-input">
                          {{view 'select'
                          class="form-control"
                          content=pageSizes
                          optionValuePath='content.value'
                          optionLabelPath='content.name'
                          value = pageSize}}
                        </div>
                    </div>
                {{/jf-table-tools}}
                {{#jf-table-content}}
                  {{#jf-table-head}}
                    {{#jf-table-heading}}<a {{action 'sortBy' 'tag'}}>Tag</a>{{/jf-table-heading}}
                    {{#jf-table-heading}}<a {{action 'sortBy' 'status'}}>Status</a>{{/jf-table-heading}}
                    {{#jf-table-heading}}<a {{action 'sortBy' 'purchase_cost'}}>Purchase Cost</a>{{/jf-table-heading}}
                    {{#jf-table-heading}}<a {{action 'sortBy' 'warranty_expiration'}}>Warranty Expiration</a>{{/jf-table-heading}}
                    {{#jf-table-heading}}<a {{action 'sortBy' 'end_of_life'}}>End Of Life</a>{{/jf-table-heading}}
                    {{#jf-table-heading}}<a {{action 'sortBy' 'supplier'}}>Supplier</a>{{/jf-table-heading}}
                  {{/jf-table-head}}
                  <tbody>
                  {{#each unit in sliced}}
                    {{#jf-table-row}}
                      {{#jf-table-column}}
                          <div class="md-checkbox pull-left">
                              <input type="checkbox" id="checkbox{{unit.id}}" class="md-check">
                              <label for="checkbox{{unit.id}}">
                                  <span class="check"></span>
                                  <span class="box"></span>
                              </label>
                          </div>
                          <div>
                            {{#link-to 'unit.detail' unit.id}}{{unit.tag}}{{/link-to}}
                          </div>
                      {{/jf-table-column}}
                      {{#jf-table-column}}{{unit.status}}{{/jf-table-column}}
                      {{#jf-table-column}}{{unit.purchase_cost}}{{/jf-table-column}}
                      {{#jf-table-column}}{{moment unit.warranty_expiration 'MM-DD-YYYY'}}{{/jf-table-column}}
                      {{#jf-table-column}}{{moment unit.end_of_life 'MM-DD-YYYY'}}{{/jf-table-column}}
                      {{#jf-table-column}}{{unit.supplier}}{{/jf-table-column}}
                    {{/jf-table-row}}
                  {{/each}}
                  </tbody>
                {{/jf-table-content}}
                {{#jf-row}}
                  {{#jf-col-md-12}}
                    {{#jf-nav class='pull-right'}}
                      {{#jf-pagination}}
                        {{jf-pagination-previous action='previousPage'}}
                        {{#each page in pages}}
                          {{jf-pagination-page action='didSelectPage' page=page}}
                        {{/each}}
                        {{jf-pagination-next action='nextPage' page=page}}
                      {{/jf-pagination}}
                    {{/jf-nav}}
                  {{/jf-col-md-12}}
                {{/jf-row}}
              {{/jf-table}}
              <!-- END EXAMPLE TABLE PORTLET-->
              <!-- BEGIN EXAMPLE TABLE PORTLET-->

            {{/jf-col-md-12}}

    {{/jf-row}}
  {{/jf-page-content-container}}
  <!-- END PAGE CONTENT-->
{{/jf-page}}
