{{#jf-page id='manufacturer'}}
  {{#jf-page-title}}Manufacturers{{/jf-page-title}}
  {{#jf-page-bar}}
    {{#jf-page-actions}}
      {{#jf-page-action-button}}
          Actions {{fa-icon icon='angle-down'}}
      {{/jf-page-action-button}}
      {{#jf-page-action-list}}
        {{#jf-page-action}}
          {{#link-to 'manufacturer.new'}}Add New{{/link-to}}
        {{/jf-page-action}}
      {{/jf-page-action-list}}
    {{/jf-page-actions}}
  {{/jf-page-bar}}
  <!-- END PAGE HEADER-->
  <!-- BEGIN PAGE CONTENT-->
  {{#jf-page-content-container}}

    {{#jf-row}}
        <!-- START SEARCH -->
        <div class="col-md-4">
          {{#jf-form-group color="success"}}
            {{#jf-input-icon}}
              {{input type='search' id='filter' value=filter class='form-control search'}}
                <label for="filter">Filter</label>
                <i class="fa fa-search"></i>
            {{/jf-input-icon}}
          {{/jf-form-group}}

        </div>
        <div class="col-md-3">
            <div class="form-group form-md-line-input">
              {{view 'select'
              class="form-control"
              content=filterables
              optionValuePath='content.value'
              optionLabelPath='content.name'
              value = current_filter}}
            </div>

        </div>


        <!-- END LIST TOOLS -->
        <!-- START USER LIST CONTAINER -->

        <div class="col-md-5">
          {{#jf-nav class='pull-right'}}
            {{#jf-pagination}}
              {{jf-pagination-previous action='previousPage'}}
              {{#each page in pages}}
                {{jf-pagination-page action='didSelectPage' page=page}}
              {{/each}}
              {{jf-pagination-next action='nextPage' page=page}}
            {{/jf-pagination}}
          {{/jf-nav}}
        </div>
        {{#jf-col-md-12}}

          {{#each manufacturer in sliced}}
            {{#jf-list-item color='green-jungle'}}
              {{#jf-list-item-title}}
                  <div class="md-checkbox jf-list-blue pull-left">
                      <input type="checkbox" id="checkbox{{manufacturer.id}}" class="md-check">
                      <label for="checkbox{{manufacturer.id}}">
                          <span class="check"></span>
                          <span class="box"></span>
                      </label>
                  </div> {{manufacturer.title}}
              {{/jf-list-item-title}}
              {{#jf-list-item-actions}}

                {{#jf-dropdown-button}}
                  {{#jf-dropdown-button-title}}
                    {{fa-icon icon='manufacturer'}} Department {{fa-icon icon='angle-down'}}
                  {{/jf-dropdown-button-title}}
                  <ul class="dropdown-menu pull-right">
                      <li><a><i class="fa fa-pencil"></i> Edit </a></li>
                  </ul>
                {{/jf-dropdown-button}}
                {{#link-to 'manufacturer.detail' manufacturer.id class="btn btn-circle btn-icon-only btn-default fa fa-chain"}}{{/link-to}}
              {{/jf-list-item-actions}}
            {{/jf-list-item}}

          {{/each}}

          {{#jf-col-md-12}}
            {{#jf-nav class='pull-right'}}
              {{#jf-pagination}}
                {{jf-pagination-previous action='previousPage'}}
                {{#each page in pages}}
                  {{jf-pagination-page action='didSelectPage' page=page}}
                {{/each}}
                {{jf-pagination-next action='nextPage' page=page}}
              {{/jf-pagination}}
            {{/jf-nav}}
          {{/jf-col-md-12}}
        {{/jf-col-md-12}}
    {{/jf-row}}
  {{/jf-page-content-container}}
  <!-- END PAGE CONTENT-->
{{/jf-page}}

