{{#jf-page id='user'}}
  {{#jf-page-title}}Users{{/jf-page-title}}
  {{#jf-page-bar}}
    {{#jf-page-actions}}
      {{#jf-page-action-button}}
          Actions {{fa-icon icon='angle-down'}}
      {{/jf-page-action-button}}
      {{#jf-page-action-list}}
        {{#jf-page-action}}
          {{#link-to 'user.new'}}Add New{{/link-to}}
        {{/jf-page-action}}
        {{#jf-page-action}}
          <a {{action 'didTouchUpOnBulkChangeStatus'}}>Change Status</a>
        {{/jf-page-action}}
        {{#jf-page-action}}
            <a {{action 'didTouchUpOnBulkChangeRole'}}>Change Role</a>
        {{/jf-page-action}}
      {{/jf-page-action-list}}
    {{/jf-page-actions}}
  {{/jf-page-bar}}
  <!-- END PAGE HEADER-->
  <!-- BEGIN PAGE CONTENT-->
  {{#jf-page-content-container}}

    {{#jf-row}}
        <!-- START SEARCH -->
          <div class="col-md-4">
        {{#jf-form-group color="success"}}
            {{#jf-input-icon}}
              {{input type='search' id='filter' value=filter class='form-control search'}}
                <label for="filter">Filter</label>
                <i class="fa fa-search"></i>
            {{/jf-input-icon}}
        {{/jf-form-group}}

          </div>
        <div class="col-md-3">
        <div class="form-group form-md-line-input">
        {{view 'select'
        class="form-control"
        content=filterables
        optionValuePath='content.value'
        optionLabelPath='content.name'
        value = current_filter}}
        </div>
        </div>


    <!-- END LIST TOOLS -->
    <!-- START USER LIST CONTAINER -->

        <div class="col-md-5">
        {{#jf-nav class='pull-right'}}
          {{#jf-pagination}}
            {{jf-pagination-previous action='previousPage'}}
            {{#each page in pages}}
              {{jf-pagination-page action='didSelectPage' page=page}}
            {{/each}}
            {{jf-pagination-next action='nextPage' page=page}}
          {{/jf-pagination}}
        {{/jf-nav}}
        </div>
      {{#jf-col-md-12}}
          <div class="col-md-12">
              <!-- BEGIN EXAMPLE TABLE PORTLET-->
              <div class="portlet light">
                  <div class="portlet-title">
                      <div class="caption">
                          <i class="icon-doc font-red-sunglo"></i>
								<span class="caption-subject bold font-purple-plum uppercase">
								Activity </span>
                      </div>
                  </div>
                  <div class="portlet-body">
                      <table class="table table-striped table-bordered table-hover" id="sample_1">
                          <thead>
                          <tr>
                              <th></th>
                              <th>Name</th>
                              <th>Email Address</th>
                              <th>>Username</th>
                          </tr>
                          </thead>
                          <tbody>
                          {{#each user in sliced}}
                              <tr>
                                  <td>
                                      <div class="md-checkbox jf-list-blue pull-left">
                                          <input type="checkbox" id="checkbox{{manufacturer.id}}" class="md-check">
                                          <label for="checkbox{{manufacturer.id}}">
                                              <span class="check"></span>
                                              <span class="box"></span>
                                          </label>
                                      </div>
                                  </td>
                                  <td>
                                      {{user.firstname}} {{user.lastname}}
                                  </td>
                                  <td>
                                      {{user.email}}
                                  </td>
                                  <td>
                                      {{user.username}}
                                  </td>
                              </tr>

                          {{/each}}



                          </tbody>
                      </table>
                  </div>
              </div>
              <!-- END EXAMPLE TABLE PORTLET-->
              <!-- BEGIN EXAMPLE TABLE PORTLET-->
          </div>
        {{#each user in sliced}}


        {{/each}}

        {{#jf-col-md-12}}
          {{#jf-nav class='pull-right'}}
            {{#jf-pagination}}
              {{jf-pagination-previous action='previousPage'}}
              {{#each page in pages}}
                {{jf-pagination-page action='didSelectPage' page=page}}
              {{/each}}
              {{jf-pagination-next action='nextPage' page=page}}
            {{/jf-pagination}}
          {{/jf-nav}}
        {{/jf-col-md-12}}
      {{/jf-col-md-12}}
    {{/jf-row}}
  {{/jf-page-content-container}}
  <!-- END PAGE CONTENT-->
{{/jf-page}}
