
{{page-title title='Manufacturers'}}

{{#page-header title='Manufacturers' page_actions=page_actions}}

  {{page-breadcrumb this-page='Manufacturers'}}

  {{#page-actions}}
    {{page-actions-li title='Add New' link='#'}}
  {{/page-actions}}

{{/page-header}}


<div class="row">
    <div id="manufacturers-list" class="col-md-12">

        <!-- START LIST TOOLS -->
        <div class="row">

            <!-- START SEARCH -->
          {{search-box
          label-text='Search'
          inputID='filter'
          input-type='search'
          input-placeholder='search...'
          inputValue=filter
          input-classes='col-md-4'}}
            <!-- END SEARCH -->
        </div>
        <!-- END LIST TOOLS -->

        <!-- START USER LIST CONTAINER -->
      {{#jf-portlet-list}}
        {{#each manufacturer in filteredContent}}
            <!-- BEGIN Portlet PORTLET-->
          {{#jf-portlet}}
            {{#jf-portlet-header}}


              {{#jf-portlet-headline}}
                {{sl-icon icon='wrench' color='green-sharp'}}
                {{#jf-portlet-title}}{{manufacturer.title}}{{/jf-portlet-title}}
              {{/jf-portlet-headline}}
              {{#jf-portlet-actions}}
                  <!-- TODO seperate out action presentation types into attributes defined on the views -->
                {{#jf-portlet-action classNames='btn btn-circle btn-default btn-icon-only '}}{{fa-icon icon='pencil'}}{{/jf-portlet-action}}
                {{#jf-portlet-action classNames='btn btn-circle btn-default btn-icon-only '}}{{#link-to 'manufacturers.detail' manufacturer.id}}{{fa-icon icon='chain'}}{{/link-to}}{{/jf-portlet-action}}

              {{/jf-portlet-actions}}

            {{/jf-portlet-header}}
            {{#jf-portlet-content}}
            <div class="row">
            <div class="col-md-4">
                <h4>Description:</h4>
            {{manufacturer.description}}
              </div>
            <div class="col-md-8">
                <h4>Note:</h4>
              {{manufacturer.note}}
            </div>
              </div>
            {{/jf-portlet-content}}

          {{/jf-portlet}}
            <!-- END Portlet PORTLET-->
        {{/each}}
      {{/jf-portlet-list}}
    </div>
    <!-- END LIST AND LIST FUNCTIONS CONTAINER -->

</div>