<div class="vertical-center">

    <div class="portlet light bordered container">
        <div class="logo">
          {{jf-img src='img/ccmh/logo_large.png' class="logo"}}
        </div>
        <div class="portlet-body form">
          {{#if send-failed}}
              <div class="note note-danger">
                  <h4 class="block">Request Failed!</h4>
                  <p>
                      Your request could not be processed. Please contact support.
                  </p>
              </div>
          {{/if}}
          {{#if sent-request}}
              <div class="well well-lg">
                  <h4 class="block">Request Sent!</h4>
                  <p>
                      Your request has been sent to an administrator. You will recieve an email when your request has been reviewed.
                      Please allow up to 72 hours for a response. If you have any questions please contact support at (xxx)xxx-xxxx.
                  </p>
                {{! TODO Add a button back to the login page }}
              </div>
          {{/if}}
            <form role="form">
                <div class="form-body">
                    <div class="row">
                    <div class="col-md-6">
                    <div id='firstname' class="form-group form-md-line-input form-md-floating-label">
                        <div class="input-icon right">
                          {{input type='text' class='form-control' value=firstname}}
                            <label for="form_control_1">First Name</label>
                            <span class="help-block"></span>
                                                </div>
                    </div>
                    <div id='lastname' class="form-group form-md-line-input form-md-floating-label">
                        <div class="input-icon right">
                          {{input type='text' class='form-control' value=lastname}}
                            <label for="form_control_1">Last Name</label>
                            <span class="help-block"></span>

                        </div>
                    </div>
                    <div id='email' class="form-group form-md-line-input form-md-floating-label">
                        <div class="input-icon right">
                          {{input type='text' class='form-control' value=email}}
                            <label for="form_control_1">Email</label>
                            <span class="help-block"></span>
                            <i class="icon-envelope"></i>
                        </div>
                    </div>
                    <div id='employee_id' class="form-group form-md-line-input form-md-floating-label">
                        <div class="input-icon right">
                          {{input type='text' class='form-control' value=employee_id}}
                            <label for="form_control_1">Employee ID</label>
                            <span class="help-block"></span>

                        </div>
                    </div>
                    </div>
                  <div class="col-md-6">
                    <div id='password' class="form-group form-md-line-input form-md-floating-label">
                        <div class="input-icon right">
                          {{input type='password' class='form-control' value=password}}
                            <label for="form_control_1">Password</label>
                            <span class="help-block"></span>
                            <i class="icon-key"></i>
                        </div>
                    </div>
                    <div id='passwordConfirmation' class="form-group form-md-line-input form-md-floating-label">
                        <div class="input-icon right">
                          {{input type='password' class='form-control' value=passwordConfirmation}}
                            <label for="form_control_1">Confirm Password</label>
                            <span class="help-block"></span>
                            <i class="icon-key"></i>
                        </div>
                    </div>
                </div>
                </div>
                </div>
              <div class="row">
                  <div class="col-md-12">

                <div class="form-actions noborder pull-right">
                    <button type="button" class="btn green btn-sm" {{action 'didTouchUpOnSend'}}>Send</button>
                </div><div class="form-actions noborder pull-right">
                    {{#link-to 'auth.login'}}<button type="button" class="btn blue btn-sm" >Login</button>{{/link-to}}
                  </div>
                  </div>
              </div>
            </form>
        </div>
    </div>
</div>

