{{#jf-page id='asset'}}
  {{#jf-page-title}}Assets{{/jf-page-title}}
  {{#jf-page-bar}}
    {{#jf-page-actions}}
      {{#jf-page-action-button}}
          Actions {{fa-icon icon='angle-down'}}
      {{/jf-page-action-button}}
      {{#jf-page-action-list}}
        {{#jf-page-action}}
          {{#link-to 'asset.new'}}Add New{{/link-to}}
        {{/jf-page-action}}
      {{/jf-page-action-list}}
    {{/jf-page-actions}}
  {{/jf-page-bar}}
  <!-- END PAGE HEADER-->
  <!-- BEGIN PAGE CONTENT-->
  {{#jf-page-content-container}}

    {{#jf-row}}
        <!-- START SEARCH -->
        <div class="col-md-4">
          {{#jf-form-group color="success"}}
            {{#jf-input-icon}}
              {{input type='search' id='filter' value=filter class='form-control search'}}
                <label for="filter">Filter</label>
                <i class="fa fa-search"></i>
            {{/jf-input-icon}}
          {{/jf-form-group}}

        </div>
        <div class="col-md-3">
            <div class="form-group form-md-line-input">
              {{view 'select'
              class="form-control"
              content=filterables
              optionValuePath='content.value'
              optionLabelPath='content.name'
              value = current_filter}}
            </div>
        </div>


        <!-- END LIST TOOLS -->
        <!-- START USER LIST CONTAINER -->

        <div class="col-md-5">
          {{#jf-nav class='pull-right'}}
            {{#jf-pagination}}
              {{jf-pagination-previous action='previousPage'}}
              {{#each page in pages}}
                {{jf-pagination-page action='didSelectPage' page=page}}
              {{/each}}
              {{jf-pagination-next action='nextPage' page=page}}
            {{/jf-pagination}}
          {{/jf-nav}}
        </div>
        {{#jf-col-md-12}}
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">

                            <span class="caption-subject bold font-purple-plum uppercase"></span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-advance table-hover" id="users_table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each asset in sliced}}
                                <tr class="success">
                                    <td>
                                        <div class="md-checkbox jf-list-blue pull-left">
                                            <input type="checkbox" id="checkbox{{user.id}}" class="md-check">
                                            <label for="checkbox{{user.id}}">
                                                <span class="check"></span>
                                                <span class="box"></span>
                                            </label>
                                        </div>
                                        <div>
                                          {{#link-to 'asset.detail' asset.id}}{{asset.model}}{{/link-to}}
                                        </div>
                                    </td>
                                    <td>
                                      {{asset.manufacturer.title}}
                                    </td>
                                </tr>

                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
            </div>
            {{#each asset in sliced}}

            {{/each}}

            {{#jf-col-md-12}}
              {{#jf-nav class='pull-right'}}
                {{#jf-pagination}}
                  {{jf-pagination-previous action='previousPage'}}
                  {{#each page in pages}}
                    {{jf-pagination-page action='didSelectPage' page=page}}
                  {{/each}}
                  {{jf-pagination-next action='nextPage' page=page}}
                {{/jf-pagination}}
              {{/jf-nav}}
            {{/jf-col-md-12}}
        {{/jf-col-md-12}}
    {{/jf-row}}
  {{/jf-page-content-container}}
  <!-- END PAGE CONTENT-->
{{/jf-page}}
