<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" {{action 'close'}}>&times;</button>
                <h4 class="modal-title">Change Role</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                  {{#ember-chosen id='role_select' value=selectedRole }}
                    {{#each role in roles}}
                        <option {{bind-attr value=role.id}}>{{role.name}}</option>
                    {{/each}}
                  {{/ember-chosen}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" {{action 'close'}}>Close</button>
                <button type="button" class="btn btn-primary" {{action 'save'}}>Save</button>
            </div>
        </div>
    </div>
</div>