{{outlet}}
{{#jf-page-title}}{{model.firstname}} {{model.lastname}}'s Details{{/jf-page-title}}

{{#jf-page-bar}}

  {{#jf-page-breadcrumbs}}
    {{#jf-page-breadcrumb}}{{#link-to 'user.detail' model.id}}{{model.firstname}} {{model.lastname}}{{/link-to}}{{/jf-page-breadcrumb}}
  {{/jf-page-breadcrumbs}}

  {{#jf-page-actions}}
    {{#jf-page-action}}{{#link-to 'user.edit'}}Edit{{/link-to}}{{/jf-page-action}}
  {{/jf-page-actions}}

{{/jf-page-bar}}

<!-- BEGIN PAGE CONTENT-->
<div class="row">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="col-md-4">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet">

              {{! Killed user pics for now. }}

                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                      {{model.firstname}} {{model.lastname}}
                    </div>
                    <div class="profile-usertitle-job">
                      {{#each role in model.roles}}{{role.name}}, {{/each}}
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                    <button type="button" class="btn btn-circle btn-danger btn-sm">Message</button>
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->

                <!-- END MENU -->
            </div>
        </div>
        <!-- END PORTLET MAIN -->
        <!-- PORTLET MAIN -->
        <div class="col-md-8">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title">Details</h3>
                </div>
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">Username <span class="pull-right">{{model.username}}</span></li>
                    <li class="list-group-item">Email <span class="pull-right">{{model.email}}</span></li>
                    <li class="list-group-item">Employee ID <span
                            class="pull-right">{{model.employee_id}}</span></li>
                    <li class="list-group-item">Status <span class="badge badge-success">{{model.status}}</span>
                    </li>
                    <li class="list-group-item">roles<span
                            class="pull-right">{{#each role in model.roles}}{{role.name}}, {{/each}}</span></li>
                </ul>
            </div>
        </div>
    </div>


<div class="row">
    <div class="col-md-12">
        <!-- END STAT -->
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">History</span>
                    <span class="caption-helper hide"></span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                        <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                            <input type="radio" name="options" class="toggle" id="option2">Week</label>
                        <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                            <input type="radio" name="options" class="toggle" id="option2">Month</label>
                        <label class="btn btn-transparent grey-salsa btn-circle btn-sm active">
                            <input type="radio" name="options" class="toggle" id="option1">Year</label>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                Equipment use history goes up in here.
            </div>

        </div>

        <!-- END PORTLET MAIN -->
    </div>
    <!-- END BEGIN PROFILE SIDEBAR -->
    <!-- BEGIN PROFILE CONTENT -->
    <div class="profile-content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <h3 class="panel-title">Details</h3>
                    </div>
                    <!-- List group -->
                    <ul class="list-group">
                        <li class="list-group-item">Username <span class="pull-right">{{model.username}}</span></li>
                        <li class="list-group-item">Email <span class="pull-right">{{model.email}}</span></li>
                        <li class="list-group-item">Employee ID <span
                                class="pull-right">{{model.employee_id}}</span></li>
                        <li class="list-group-item">Status <span class="badge badge-success">{{model.status}}</span>
                        </li>
                        <li class="list-group-item">roles<span
                                class="pull-right">{{#each role in model.roles}}{{role.name}}, {{/each}}</span></li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
    <!-- END PROFILE CONTENT -->
</div>
<!-- END PAGE CONTENT-->
