<ul class="list-group">
    <li class="list-group-item"><strong>Name: </strong><span class="pull-right">{{session.currentUser.firstname}} {{session.currentUser.lastname}}</span></li>
    <li class="list-group-item"><strong>ID: </strong><span class="pull-right">{{session.currentUser.id}}</span></li>
    <li class="list-group-item"><strong>Email Address: </strong><span class="pull-right">{{session.currentUser.email}}</span></li>
    <li class="list-group-item"><strong>Username: </strong><span class="pull-right">{{session.currentUser.username}}</span></li>
    <li class="list-group-item"><strong>Employee ID: </strong><span class="pull-right">{{session.currentUser.employee_id}}</span></li>
    <li class="list-group-item"><strong>Status: </strong><span class="pull-right">{{session.currentUser.status}}</span></li>
</ul>